<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <title>GitHub Pages - {{ page.title }}</title>
        <link rel='stylesheet' type='text/css' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/pepper-grinder/jquery-ui.css' />
        <link rel="stylesheet" type="text/css" href='../css/ui.jqgrid.css' />
        <link rel='stylesheet' type='text/css' href='../css/demo.css' />
        <link rel='stylesheet' type='text/css' href='../css/api.css' />
        <link type="text/css" rel="stylesheet" media="screen" href="../css/github/bundle_github.css">
    </head>
    <body>
        <div id="doc3" class="yui-t2 ui-widget ui-widget-content">
            <div class="ui-layout-north">
                <h1 id="mk-header-title" class="ui-widget-header"><a href="./index.html"><img alt="github pages" src="http://github.com/images/modules/header/logo_pages.png" width="104" height="30"></a><span class="mk-header-title-sub">jQuery UI Controller - Api - <em>$moduletitle</em></span><span class="subtitle">$version</span></h1>
                <div id="mk-switcher">
                </div>
            </div>
            <div id="hd">
                <div id="path">
                    <b><a href="./" title="jQuery UI Controller">jQuery UI Controller</a></b>
                    / {{ page.title }}
                </div>
                <form onsubmit="return false">
                    <div id="propertysearch" class="ui-state-highlight ui-corner-all">
                        Search: 
                        <input autocomplete="off" id="searchinput" />
                        <div id="searchresults">
                            &nbsp;
                        </div>
                    </div>
                </form>
            </div>
            <div id="bd" class="ui-widget-content">
            	{{ content }}	
            </div>
        </div>
    </body>
</html>