<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <title>GitHub Pages - {{ page.title }}</title>
        <link rel='stylesheet' type='text/css' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/pepper-grinder/jquery-ui.css' />
        <link rel="stylesheet" type="text/css" href='./css/ui.jqgrid.css' />
        <link rel="stylesheet" type="text/css" href='./css/ui.jqgrid.css' />
		<link rel='stylesheet' type='text/css' href='./css/demo.css' />
		<link rel='stylesheet' type='text/css' href='./css/api.css' />
        <link type="text/css" rel="stylesheet" media="screen" href="./css/github/bundle_github.css">
    </head>
    <body>
        <body id="doc3" class="ui-controller-demo-layout-init ui-widget ui-widget-content">
			
		<div class="ui-layout-north">
			<h1 id="mk-header-title" class="ui-widget-header">
				<a href="./">
					<img alt="github pages" src="http://github.com/images/modules/header/logo_pages.png" width="104" height="30"></a>
					<span class="mk-header-title-sub">
						jQuery UI Controller
					</span>
			</h1>
			<div id="mk-switcher"></div>
		</div>
		
		<div class="ui-layout-west ui-widget ui-widget-content">
            <table id="mk-west-grid"></table>
		</div>
		
		<div class="ui-layout-center ui-controller-layout-init ">
			<div id="mk-tabs">
                <ul>
                    <li>
                        <a href="#mk-tabs-1">Home</a>
                    </li>
                </ul>
                <div id="mk-tabs-1">
                	<div id="mk-main-content">
	                	{{ content }}
					</div>
                </div>
            </div>
		</div>
		
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
		<script type="text/javascript" src="./js/external/jquery.jqGrid.js"></script>
		<script type="text/javascript" src="./js/external/jquery.layout.js"></script>
		<script type="text/javascript" src="./js/external/jquery.themeswitcher.js"></script>
		<script type="text/javascript" src="./js/external/jquery.livequery.js"></script>
		<script type="text/javascript" src="./js/src/ui.controller.js"></script>
		<script type="text/javascript" src="./js/src/bootstrap.js"></script>
    </body>
</html>